<div class="modal exe-modal-fade" tabindex="-1" id="modalAbout" role="dialog" aria-hidden="true" data-testid="modal-about" data-open="false">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{ 'About eXeLearning' | trans }}</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' | trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body help-modal help-modal-with-logo">
                <div class="help-modal-top">
                    <img src="{{ 'style/workarea/images/exelearning.svg' | asset }}" class="exe-logo content" alt="Logo eXeLearning">
                </div>
                <div class="help-modal-content">
                    <h1 class="lead mb-4">eXeLearning {{ app_version }}</h1>
                    {% if '-' in app_version %}
                    <p class="alert alert-warning mb-4">
                        <strong>{{ 'This is a demo version!' | trans }}</strong>
                        {{ 'This software is provided as a preview and should not be distributed. It is under development and is subject to substantial change. Consider the included information incomplete and use it with caution.' | trans }}
                    </p>
                    {% endif %}
                    <p>{{ 'eXeLearning is a free software tool under the GNU Affero GPL that can be used to create educational interactive web contents. eXeLearning can generate interactive contents in different formats and it allows you to create easily navigable web pages. All the educational materials generated with eXeLearning can be exported in different digital formats, to be used independently or to integrate them into a LMS (Learning Management System) like Moodle.' | trans }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
