<div class="modal exe-modal-fade" tabindex="-1" id="modalAssistant" role="dialog" aria-hidden="true" data-testid="modal-assistant" data-open="false">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Attendee</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body help-modal">
                <div class="top-menu">
                    <icon class="exe-icon show-tabs">menu</icon>
                </div>
                <div class="body-content show-tabs">
                    <ul class="exe-form-tabs">
                        <li>
                            <a href="#modalAssistant-tab-1" class="exe-tab exe-form-active-tab">1. What is eXeLearning</a>
                        </li>
                        <li>
                            <a href="#modalAssistant-tab-2" class="exe-tab">2. Create a project</a>
                        </li>
                        <li>
                            <a href="#modalAssistant-tab-3" class="exe-tab">3. Adding pages</a>
                        </li>
                        <li>
                            <a href="#modalAssistant-tab-4" class="exe-tab">4. Adding content</a>
                        </li>
                        <li>
                            <a href="#modalAssistant-tab-5" class="exe-tab">5. Exporting a project</a>
                        </li>
                        <li>
                            <a href="#modalAssistant-tab-6" class="exe-tab">6. More options</a>
                        </li>
                    </ul>
                    <div id="modalAssistant-tab-1" class="exe-form-content exe-form-active-content">
                        <p>...</p>
                    </div>
                    <div id="modalAssistant-tab-2" class="exe-form-content">
                        <p>...</p>
                    </div>
                    <div id="modalAssistant-tab-3" class="exe-form-content">
                        <p>...</p>
                    </div>
                    <div id="modalAssistant-tab-4" class="exe-form-content">
                        <p>...</p>
                    </div>
                    <div id="modalAssistant-tab-5" class="exe-form-content">
                        <p>...</p>
                    </div>
                    <div id="modalAssistant-tab-6" class="exe-form-content">
                        <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
