<div class="modal exe-modal-fade" tabindex="-1" id="modalLegalNotes" role="dialog" aria-hidden="true" data-testid="modal-legalnotes" data-open="false">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{ 'Legal notes' | trans }}</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' | trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body help-modal help-modal-with-logo">
                <div class="help-modal-top">
                    <img src="{{ 'style/workarea/images/exelearning.svg' | asset }}" class="exe-logo content" alt="Logo eXeLearning">
                </div>
                <div class="help-modal-content">
                    <ul class="exe-form-tabs">
                        <li>
                            <a href="#modalLegalNotes-tab-1" class="exe-tab exe-form-active-tab">{{ 'Credits' | trans }}</a>
                        </li>
                        <li>
                            <a href="#modalLegalNotes-tab-2" class="exe-tab">{{ 'Third party libraries' | trans }}</a>
                        </li>
                        <li>
                            <a href="#modalLegalNotes-tab-3" class="exe-tab">{{ 'Licenses' | trans }}</a>
                        </li>
                    </ul>
                    <div id="modalLegalNotes-tab-1" class="exe-form-content exe-form-active-content">
                        <h3 class="visually-hidden">{{ 'Credits' | trans }}</h3>
                        <h4 class="lead mb-4">eXeLearning 4+</h4>
                        <ul class="main-desc">
                            <li>Copyright (2026):
                                <ul>
                                    <li><a href="https://intef.es/" target="_blank" rel="noopener" title="{{ 'Opens in new window' | trans }}">INTEF<span class="visually-hidden"> Instituto Nacional de tecnologías educativas y formación del profesorado</span></a></li></li>
                                    <li>Junta de Extremadura</li>
                                </ul>
                            </li>
                            <li>2025-present <a href="https://exelearning.net/" target="_blank" rel="noopener" title="{{ 'Opens in new window' | trans }}">eXeLearning.net</a>, <a href="mailto:info@exelearning.net" title="{{ 'Send email' | trans }}">info@exelearning.net</a></li>
                        </ul>
                        <p>{{ 'License' | trans }}: GNU Affero GPL 3</p>
                        <h3 class="lead my-4">{{ 'Participants' | trans }}</h3>
                        <ul>
                            <li>Gobierno de Canarias</li>
                            <li>Comunidad de Madrid</li>
                            <li>Generalitat Valenciana</li>
                            <li>Xunta de Galicia</li>
                        </ul>
                        <h4 class="lead my-4">{{ 'Previous versions' | trans }}</h4>
                        <ul class="main-desc">
                            <li>Copyright 2004-2005: University of Auckland.<br>{{ 'License' | trans }}: GPLv2</li>
                            <li>Copyright 2004-2011: eXe Project (exelearning.org).<br>{{ 'License' | trans }}: GPLv2</li>
                            <li>Copyright 2011-2025: <a href="https://exelearning.net/" target="_blank" rel="noopener" title="{{ 'Opens in new window' | trans }}">eXeLearning.net</a>, <a href="mailto:info@exelearning.net" title="{{ 'Send email' | trans }}">info@exelearning.net</a>.<br>{{ 'License' | trans }}: GPLv2</li>
                            <li>Copyright 2025-2026: <a href="https://intef.es/" target="_blank" rel="noopener" title="{{ 'Opens in new window' | trans }}">INTEF<span class="visually-hidden"> Instituto Nacional de tecnologías educativas y formación del profesorado</span></a>, Junta de Andalucía, Junta de Extremadura.<br>{{ 'License' | trans }}: GNU Affero GPL 3</li>
                        </ul>
                    </div>
                    <div id="modalLegalNotes-tab-2" class="exe-form-content">
                        <h3 class="visually-hidden">{{ 'eXeLearning - Third party libraries' | trans }}</h3>
                        <div class="third-party-content md-converted-content"></div>
                    </div>
                    <div id="modalLegalNotes-tab-3" class="exe-form-content">
                        <h3 class="visually-hidden">{{ 'eXeLearning - Licenses' | trans }}</h3>
                        <div class="licenses-list md-converted-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
