<div class="modal exe-modal-fade" tabindex="-1" id="modalLopd" role="dialog" aria-hidden="true" data-testid="modal-lopd" data-open="false">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content static">
            <div class="modal-header">
                <div class="modal-title"></div>
            </div>
            <div class="modal-body text-start"">
                <h1 class="text-start">Privacy and Terms</h1>
                <div class="lopdgdd-body text-start"></div>
            </div>
            <div class="modal-footer">
                <button class="confirm btn btn-primary" type="button">Accept</button>
            </div>
        </div>
    </div>
</div>
