<div class="modal exe-modal-fade" tabindex="-1" id="modalReleaseNotes" role="dialog" aria-hidden="true" data-testid="modal-releasenotes" data-open="false">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{ 'Release notes' | trans }}</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close' | trans }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body help-modal help-modal-with-logo">
                <div class="help-modal-top">
                    <img src="{{ 'style/workarea/images/exelearning.svg' | asset }}" class="exe-logo content" alt="Logo eXeLearning">
                </div>
                <div class="help-modal-content">
                    <h1 class="lead mb-4">{{ 'Changelog' | trans }}</h1>
                    <div class="body-release">
                        <div class="changelog-content md-converted-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
