<div class="modal exe-modal-fade" tabindex="-1" id="modalUploadToDropbox" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-confirm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Upload to Dropbox</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="confirm btn btn-primary">Upload</button>
                <button type="button" class="close btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
