<div id="menu_idevices" class="menu long accordion-item" size="long" pos="left" drag="menu">
    <h2 class="accordion-header" id="menu_idevices_header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#menu_idevices_content" aria-expanded="true" aria-controls="menu_idevices_content">
            iDevices
        </button>
    </h2>
    <div id="menu_idevices_content" class="menu_content accordion-collapse collapse show" aria-labelledby="menu_idevices_header" data-testid="idevices-menu">
        <div id="list_menu_idevices" class="list"></div>
    </div>
</div>
